
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(44, 43, 43);
    color: #FFF;
    width: 100%;
    font-family: sans-serif;
}

button {
    cursor: pointer;
}